.container{
    max-width: 1600px;
    height: 5645px;
    top: 223px;
    display: flex;
    margin: 0 auto;
   background-color: black;
    position: relative;
    
}
.bosh{
    width: 1600px;
    height: 850px;
    position: absolute;
  
    
  
    
}
header{
    width: 112px;
    height: 54px;
    top: 25px;
    left: 150px;
    z-index: 1;
    position: absolute;
}
.fa-clock{
    width: 700px;
    height: 20px;
    bottom:30px;
    left: 155px;
    font-size: 20px;
    color: #E74C3C; 
   position: absolute;
}  
strong{
    left: 40px;
    top: 4px;
    color: rgb(170, 169, 169);
    position: absolute;
    font-family:monospace;
    font-size: 16px;
} 
.x{
    width: 62px;
    height: 32px;
    top: 5px;
    left: 842px;
    color: azure;
    opacity: 0.75px;
    position: absolute;
   
     
}
p{
    font-family:monospace;
    font-size: 16px;
    left: 100px;
    top: -16px;
    position: absolute;
}
p2{
    font-family:monospace;
    font-size: 16px;
    top: -1px;
    left: 270px;
    position: absolute;
}
.x2{
    width: 111px;
    height: 50px;
    bottom: 17px;
    left: 1239px;
    background-color: #A92A1D;
    display: inline;
    color: white;
    position: absolute;
    
}
.x2>n{
    left: 25px;
    top: 15px;
    
    position: absolute;
}
.x2:hover{
   color: rgb(0, 0, 0);
   border: 2px solid rgb(25, 0, 251);
   background-color: rgb(255, 255, 255); 
    display: block;
   position: absolute;   
}
nav{
    position: relative;
}
.nav1{
    width: 460px;
    height: 219px;
    bottom:314px;
    left: 299px;
    color: rgb(200, 200, 200);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    line-height:70px;
    position: absolute;
    
}
.nav2{
    width: 25.83px;
    height: 159px;
    bottom: 372px;
    left: 1501px;
    opacity: 0.75px;
    /* background-color: #A92A1D; */
    position: absolute;
    
}
.fa-facebook-f{
    width: 11.02px;
    height: 21px;
    /* left: 7px; */
    color: white;
    position: absolute ;
}
.fa-twitter{
    width: 25.83px;
    height: 21px;
    top: 69px;
    color: white;
    position: absolute;
}
.fa-instagram{
    width: 21px;
    height: 21px;
    top: 138px;
    left: 3px;
    color: white;
    position: absolute;
    
}  
.d{
    width: 412px;
    height: 59px;;
    bottom: -202px;
    left: 594px;
    
    font-size: 48px;
    line-height:58.51px ;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    position:absolute;
  
} 
.d1{
    width: 790px;
    height: 93px;
    top: 250px;
    left: 405px;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 26px;
    color: rgb(164, 164, 164);
    text-align: center;
    position: absolute;
   
}  
.d2{
    width: 320px;
    height: 601px;
    top: 1328px;
    position: absolute;
    
}  
.d3{
    width: 320px;
    height: 601px;
    top: 1398px;
    left: 320px;
    position: absolute;
    
}
.d4{
    width: 320px;
    height: 601px;
    top: 1328px;
    left: 640px;
    position: absolute;
    
    
}
.d5{
    width: 320px;
    height: 601px;
    top: 1398px;
    left: 960px;
     position: absolute;
    
   
}
.d6{
    width: 320px;
    height: 601px;
    top: 1328px;
    left: 1280px;
    position: absolute;
   
    
}
.mm{
    width: 1000px;
    height: 900px;
    top: -890px;
    /* background-color: aqua; */
    position: absolute;
}
.d7{
    width: 363px;
    height: 132px;
    top: 2115px;
    left: 157px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    color: white;
    position: absolute;
    
}
.d8{
    width: 699px;
    height: 136px;
    top: 2126px;
    left: 751px;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    color: white;
    position:absolute;
    
}
.f{
    width: 2px;
    height: 70px;
    top: 2133px;
    left: 737px;
    border: 2px;
    background-color:#ef0d0d ;
    position: absolute;
}    
.f1{
    width: 805px;
    height: 744px;
    top: 2417px;
    position: absolute;
    
}
.f2{
    width: 319px;
    height: 44px;
    top: 2628px;
    left: 880px;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    color: white;
    position: absolute;
    
}
.f3{
    width: 254px;
    height: 29px;
    top: 2696px;
    left: 880px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
    color: white;
    position: absolute;
    
}
.f4{
    width: 496px;
    height: 136px;
    top: 2737px;
    left: 880px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: white;
    position: absolute;
    
}
.f5{
    width: 514px;
    height: 369px;
    top: 2995px;
    left: 1100px;
    position: absolute;
    
}
.f6{
    width: 500px;
    height: 492px;
    top: 3316px;
    left: 548px;
    position: absolute;
    
}.f7{
    width: 500px;
    height: 503px;
    top: 3451px;
    position: absolute;
    
}.f8{
    width: 500px;
    height: 503px;
    top: 3451px;
    left: 1096px;
    position: absolute;
    
}
.y{
    width: 241px;
    height: 29px;
    top: 3847px;
    left: 675px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    color: rgb(181, 181, 181);
    position: absolute;
    
}
.y1{
    width: 388px;
    height: 93px;
    top: 3898px;
    left: 602px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    position: absolute;
    
}
.nm{
    width: 1600px;
    height: 1042px;
    top: 4011px;
    position: absolute;
    
}
.kk{
    width: 513px;
    height: 44px;
    top: 4500px;
    left: 544px;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    color: white;
    position: absolute;
    
}
.k1{
    width: 617px;
    height: 26px;
    top: 4579px;
    left: 492px;
    
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    
    text-align: center;
    
    color: rgb(162, 161, 161);
    position: absolute;

    
}
.k2{
    width: 402px;
    height: 60px;
    top: 4643px;
    left: 599px;
    border: 1px solid white;
    position: absolute;
    
}
input{
    width: 402px;
    height: 60px;
    top: 4643px;
    left: 599px;
    border:solid 1px white;
    color: white;
    font-size: 30px;
    text-indent: 130px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    
}

.p{
    width: 402px;
    height: 60px;
    top: 4719px;
    left: 599px;
    border: 1px;
    border:solid 1px white;
    color: rgb(133, 132, 132);
    font-size: 30px;
    text-indent: 80px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    
}
.p>h{
    font-size: 30px;
    top: 10px;
    position: absolute;
}
.cc{
    width: 1600px;
    height: 562px;
    top: 4950px;
    position: absolute;
    
}


    




   




    


      

  
    
